.stack-work/
japanese-pitch-finder.cabal
*.aux
*.fdb_latexmk
*.fls
*.yaml.lock
template.synctex.gz
template.log
justputtingstuffhere.tex
template.xdv
test.txt
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*~